<html>

<head>
    <title>Registration Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            padding: 10px;
        }

        html {
            overflow-x: hidden;
        }
    </style>
    <!-- TODO: In the future it may have to be changed -->
</head>

<body>
    <form class="row g-3" onsubmit="sendFromData()">
        <input name="firstname" class="form-control" type="text" placeholder="First Name"
            aria-label="default input example">
        <input name="middlename" class="form-control" type="text" placeholder="Second name"
            aria-label="default input example">
        <input name="surname" class="form-control" type="text" placeholder="Surname" aria-label="default input example">
        <div class="col-md-3">
            <label for="customRange1" class="form-label">Enter your age</label>
            <input name="age" type="range" class="form-range" id="customRange1">
        </div>
        <!-- <label for="inputCountry" class="form-label">Country</label> -->
        <!-- <input name="country" type="text" class="form-control" id="inputCountry"> -->
        <!-- <div class="col-md-3"> -->
        <!--     <label for="inputState" class="form-label">State</label> -->
        <!--     <input name="state" type="text" class="form-control" id="inputSate"> -->
        <!-- </div> -->
        <!-- <div class="col-md-3"> -->
        <!--     <label for="inputCity" class="form-label">City</label> -->
        <!--     <input name="city" type="text" class="form-control" id="inputCity"> -->
        <!-- </div> -->
        <!-- <div class="col-md-2"> -->
        <!--     <label for="level" class="form-label">Zip</label> -->
        <!--     <input name="zipcode" type="text" class="form-control" id="level"> -->
        <!-- </div> -->
        <!-- <div class="col-md-2"> -->
        <!--     <label for="languageName" class="form-label">Language</label> -->
        <!--     <input name="language" type="text" class="form-control" id="languageName"> -->
        <!-- </div> -->
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="postFormData()">Sign in</button>
        </div>
    </form>
</body>

<script>
    // {
    //     "country": form.get("country"),
    //         "state": form.get("state"),
    //             "city": form.get("city"),
    //                 "zipcode": form.get("zipcode"),
    //         },

    function getLocations(){
        const locations = ["Berlin", "Wroclaw"]
        const levels = ["2", "9"]
        const tmp = languages.map(function (e, i) {
            return {"language": e, "level": levels[i]}
        });
        return tmp
    }

    function getProgrammingLanguages() {
        const languages = ["go", "cpp"]//form.getAll("language");
        const levels = ["2", "10"] //form.getAll("language-level");
        const tmp = languages.map(function (e, i) {
            return { "language": e, "level": levels[i], }
        });
        return tmp;
    }

    function getLanguages() {
        const languages = ["english", "polish"]
        const levels = ["2", "9"]
        const tmp = languages.map(function (e, i) {
            return { "language": e, "level": levels[i], }
        });
        return tmp;
    }

    function getTools(){
        const names = ["Jira", "Github"]
        const levels = ["2", "9"]
        const tmp = names.map(function (e, i) {
            return { "name": e, "level": levels[i], }
        });
        return tmp;
    }

    function getCertificates(){
        const names = ["DevOps cerificate", "Pythonista"]
        const descriptions = ["Very important certificate", "Very good certificate"]
        const organisations = ["Nokia", "Google"]
        const tmp = names.map(function (e, i) {
            return { "name": e, "description": descriptions[i], "organisation": organisations[i]}
        });
        return tmp;
    }

    function getCharities(){
        const names = ["Charity 1", "Charity 2"]
        const descriptions = ["Good charity", "Super duper charity"]
        const organisations = ["Microsoft", "Meta"]
        const tmp = names.map(function (e, i) {
            return { "name": e, "description": descriptions[i], "organisation": organisations[i]}
        });
        return tmp;
    }

    function getEducations(){
        const schools = ["uwr", "pwr"]
        const majors = ["CS", "Math"]
        const descriptions = ["Very good university", "Good university"]
        const tmp = schools.map(function (e, i) {
            return { "school": e, "major": majors[i], "description": descriptions[i]}
        });
        return tmp;
    }

    function getExperiences(){
        const companies = ["Google", "OpenAI"]
        const positions = ["Line manager", "Developer"]
        const descriptions = ["Did lots stuff", "Did little stuff"]
        const tmp = companies.map(function (e, i) {
            return { "company": e, "position": positions[i], "description": descriptions[i]}
        });
        return tmp;
    }

    function getProjects(){
        const names = ["GBD", "BDG"]
        const descriptions = ["super duper project", "cos cos"]
        const links = ["https", "http"]
        const tmp = names.map(function (e, i) {
            return { "name": e, "description": descriptions[i], "link": links[i]}
        });
        return tmp;
    }

    function getSocialPlatforms(){
        const names = ["fb", "linkedin"]
        const links = ["http", "https"]
        const tmp = names.map(function (e, i) {
            return { "name": e, "link": links[i], }
        });
        return tmp;
    }

    async function postFormData() {
        const formData = new FormData(document.querySelector('form'));

        let dataJson = {
            "profile": {
                "firstname": formData.get("firstname"),
                "middlename": formData.get("middlename"),
                "surname": formData.get("surname"),
                "age": formData.get("age"),
            },
            // "locations": getLocations(),
            "programming_languages": getProgrammingLanguages(),
            "languages": getLanguages(),
            "tools": getTools(),
            "certificates": getCertificates(),
            "charities": getCharities(),
            "educations": getEducations(),
            "experiences": getExperiences(),
            "projects": getProjects(),
            "social_platforms": getSocialPlatforms(),
        };

        console.log(JSON.stringify(dataJson, null , 2))

        const response = await fetch("{{ url_for('create_user') }}", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataJson),
        });

        console.log("status: ", response.status);
        // Array.from(data.keys()).reduce((result, key) => {
        //     result[key] = data.get(key);
        //     return result;
        // }, {});
    }
</script>

</html
