{% extends "base.html" %}

{% block title %}AutoApply{% endblock title %}

{% block styles %}
{{ super() }}
<style>
    #scrape-container {
        padding: 10px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #job-entries-container li {
        margin: 10px 0;
        padding: 10px;
        background-color: var(--surface);
        border: 2px solid var(--borders);
        border-radius: 5px;
    }

    .job-data-container {
        padding: 10px;
        border: 2px solid var(--borders);
        border-radius: 5px;
        margin: 10px 0;
    }

    .job-data {

    }
</style>
{% endblock styles %}

{% block content %}

<div id="user-info-container"></div>
<div id="scrape-container">
    <button id="scrape-btn" onclick="scrape_jobs()">Start job search</button>
    <ul id="job-entries-container"></ul>
</div>

{% endblock content %}

{% block scripts %}
<script>
    let eventSrc = null;

    function draw_job(data) {
        let jobContainer = document.getElementById("job-entries-container");
        let li = document.createElement("li");

        li.innerHTML = `
            <div>
                <h5>Job Title: </h5>
                <p class="job-data">${data.title}</p>
                <br>
                <h5>Location: </h5>
                <p class="job-data">${data.location}</p>
                <br>
                <h5>Company Name: </h5>
                <p class="job-data">${data.company_name}</p>
            </div>
            <details>
                <summary>Job details</summary>
                <div class="job-data-container">
                    <h5>Job Url: </h5>
                     <p>
                         <a href="${data.job_url}" target="_blank">${data.job_url}</a>
                     </p>
                </div>
                <div class="job-data-container">
                    <h5>Company Url: </h5>
                    <p>
                        <a href="${data.company_url}" target="_blank">${data.company_url}</a>
                    </p>
                </div>
                <div class="job-data-container">
                    <h5>Contract Type: </h5>
                    <p class="job-data">${data.contract_type}</p>
                </div>
                <div class="job-data-container">
                    <h5>Employment Type: </h5>
                    <p class="job-data">${data.employment_type}</p>
                </div>
                <div class="job-data-container">
                    <h5>Work Arrangement: </h5>
                    <p class="job-data">${data.work_arrangement}</p>
                </div>
                <div class="job-data-container">
                    <h5>Job Requirements: </h5>
                    <p class="job-data">${data.requirements}</p>
                </div>
                <div class="job-data-container">
                    <h5>Duties: </h5>
                    <p class="job-data">${data.duties}</p>
                </div>
                <div class="job-data-container">
                    <h5>About Project: </h5>
                    <p class="job-data">${data.about_project}</p>
                </div>
                <div class="job-data-container">
                    <h5>Company Benefits: </h5>
                    <p class="job-data">${data.offer_benefits}</p>
                </div>
                <div class="job-data-container">
                    <h5>Additional Information: </h5>
                    <p class="job-data">${data.additional_information}</p>
                </div>
            </details>
        `;
        jobContainer.appendChild(li);
    }

    function scrape_jobs() {
        let button = document.getElementById("scrape-btn");
        if (button.innerText === "Start job search") {
            eventSrc = new EventSource("{{ url_for('scrape_jobs') }}");
            eventSrc.onmessage = function (event) {
                draw_job(JSON.parse(event.data));
            };
            button.innerText = "Stop job search";
        } else {
            eventSrc.close();
            eventSrc = null;
            button.innerText = "Start job search";
        }
    }
</script>

{% endblock scripts %}
